<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Aplicacion</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <div *ngFor="let menuItem of menuData">
      <mat-accordion>
        <mat-expansion-panel *ngIf="menuItem.hijos && menuItem.hijos.length; else resultadoSimple">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon> {{ menuItem.icono }} </mat-icon>
              {{ menuItem.nombre }}
            </mat-panel-title>
          </mat-expansion-panel-header>
              <button mat-button *ngFor="let menuItemHijo of menuItem.hijos"  id="botonMenu">
                <mat-icon> {{ menuItemHijo.icono }} </mat-icon>
                {{ menuItemHijo.nombre }}
              </button>
        </mat-expansion-panel>
        <ng-template #resultadoSimple>
          <!-->mat-card-->
            <button mat-button id="botonMenu">
              <mat-icon> {{ menuItem.icono }} </mat-icon>
              {{ menuItem.nombre }}
            </button>
          <!-->/mat-card-->
        </ng-template>
      </mat-accordion>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>