<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Aplicacion</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <div *ngFor="let menuItem of menuData">
      <mat-accordion>
        <mat-expansion-panel *ngIf="menuItem.hijos && menuItem.hijos.length; else resultadoSimple"
          [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon> {{ menuItem.icono }} </mat-icon>
              {{ menuItem.nombre }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-button *ngFor="let menuItemHijo of menuItem.hijos" id="botonMenu">
            <mat-icon> {{ menuItemHijo.icono }} </mat-icon>
            {{ menuItemHijo.nombre }}
          </a>
        </mat-expansion-panel>
        <ng-template #resultadoSimple>
          <a mat-button id="botonMenu">
            <mat-icon> {{ menuItem.icono }} </mat-icon>
            {{ menuItem.nombre }}
          </a>
        </ng-template>
      </mat-accordion>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>